@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif
}

.titulo {
    font-weight: 600;
    color: #40B554;
}

.bg-main {
    background-color: #ffffff;
}

/* CSS para dispositivos móviles */
@media (max-width: 768px) {
    .mostrador .fila {
        flex-wrap: wrap;
        justify-content: center;
    }

    .mostrador .fila .item {
        width: 100%;
        margin: 0 0 60px 0;
    }
}

#btn-description {
    margin-top: 10px;
    margin-bottom: 15px;
}

.contenedor-foto {
    padding: 15px;
}

#imagenItem {
    max-height: 212px;
    border-radius: 15px;
    background-color: #e6e6e6;
    border: 3px solid #40B554;

}

.descripcion {
    color: #E3A241;
    font-size: 20px;
}

.titulos-productos {
    margin: 5px;
    color: #FFFFFF;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}

.bg-titulos-productos {
    /*background: rgba(227, 162, 65, 0.5);*/
    background: rgba(64, 181, 84);
    width: 100%;
}

.bg-titulos-productos-ocre {
    background: rgba(227, 162, 65);
    /* background: rgba(64, 181, 84, 0.5);*/
    width: 100%;
}